app/src/main/resources/xsd/routes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="routes" type="routesType"/>
    <xs:complexType name="routesType">
        <xs:sequence>
            <xs:element type="routeType" name="route" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="routeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="pattern"/>
                <xs:attribute type="xs:string" name="service"/>
                <xs:attribute type="ResourceType" name="resourceType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="ResourceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PUBLIC"/>
            <xs:enumeration value="PRIVATE"/>
            <xs:enumeration value="PROTECTED"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>